# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.env
.venv/
venv/
ENV/

# IDE / Editor
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project-specific
# Don’t commit your API keys!
.env